<%= form_for :signin, method: "POST", url: '/signin' do |f| %>
<ul class="zero list-unstyled">
  <li>
    <p class="form-label">Name</p> 
    <div class="form-input"><%= f.text_field :name, class: "form-control" %></div>
  </li>
  <br>
  <li>
    <p class="form-label">Password</p>
    <div class="form-input"><%= f.password_field :password, class: "form-control" %></div>
  </li>
  <br>
  <li>
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </li>
  <br>  
</ul>
<% end %>