/*body {
  background: url('background-road.jpg');
}*/
#homepage_body {
  background-image: url('background2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
  height: 900px;
  background-position: center center;
}

.navbar.navbar-default{
  margin-bottom: 0px;
}
